<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
 
   <h2><%= @teamName%></h2>
    <h3><%= @coach = params["coach"]
    <h3><%= @pg = params["pg"]
    <h3><%= @sg = params["sg"]
    <h3><%= @sf = params["sf"]
    <h3><%= @pf = params["pf"]
    <h3><%= @center = params["center"]

 </body>
</html>


